.btnMenu{
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}
.btnMenu_open{
    background-image: url(../img/btn.png);
    
    
}
.btnMenu_close{
    background-color: #ccc;
    background-image: url(../img/botao-x.svg);
    
    
}